
:root {
    --primary:  rgba(198,38,170,1);
    --secondary:rgba(70,36,144,1);
}
*{
    padding:0;
    margin:0;
}
body{
    background-image: url(hi.jpg);
    font-family: 'Merriweather', serif; 
}
html{
    scroll-behavior: smooth;
    
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.up-ctn{
    position: fixed;
    top:60.5%;
    border: 2px solid grey;
    border-radius: 50px;
    margin-left:2vh;
}
.down-ctn{
    position: fixed;
    border-radius: 50px;
    top:70%;
    border: 2px solid grey;
    margin-left:0vh;
   
}

.container{
    border: 0px solid rgba(148, 129, 129, 0.416);
    background-color: white;
    width:90%;
    height:auto;
    margin-left: 11vh;

}

@media screen and (max-width: 767px){

    .up-ctn, .down-ctn{
        display: none;
    }
    .container{
        margin-left:0;
    }
    .main .col-3 img{
        width:90px;
        height: 70px;
        
    }
    .main .col-3 p{
        font-size:1px;
        margin:2vh;
        overflow: hidden;
    }
    .main .col-3 h3{
        font-size: 10px;
    }
    .main .col-3 h1{
        font-size:10px;
        letter-spacing: 1px;
    }
    .logo-ctn{
        width:103%;
    }
    
    
}

.main{
    font-family: 'Inter', sans-serif;
    display: flex;
    border: 0px solid black;
    
}
.main img{
    display: flex;
    margin:5vh auto;
    width:250px;
    height: 250px;
    object-fit: contain;
    
}
.main .col-3{
    box-shadow: 0 0 3px rgba(198,38,170,1), 0 0 0 1px  rgba(70,36,144,1);
    border-radius: 15px;
    margin:5px;
    padding-bottom: 2vh;
}
.main h3{
    font-weight: 900;
    text-align: center;
    font-size: 22px;
    padding:5px 5px;
    
}
.main h3 span{
    color:rgb(255, 0, 208);
   text-shadow: 1px 1px 1px black;
}
.main h1{
    text-align: center;
    font-size: 29px;
    color: black;
   color: var(--secondary);
   text-shadow: 1px 1px 1px var(--primary);
    letter-spacing: 2px;
    padding-bottom: 10px;
    
}
.main h1 span{
    padding-right:10px;
    text-decoration: line-through;
    text-decoration-color:rgba(243, 17, 17, 0.312);
    color: rgba(70,36,144,1);
    
}
.main h4{
    display: block;
    text-align: center;
    font-size: 18px;
    padding-left:0px;
    padding-top:15px;
    line-height: 22px;
    color:var(--primary);
    text-shadow: 0px 1px black;
}

.main p{
    font-size: 15px;
    font-weight: 900;
    padding-top:14px;
    text-align: center;
    padding-bottom: 15px;
}
/*
.main p{
    display: block;
    text-align: center;
    font-size: 16px;
    padding-left:0px;
    padding-top:5px;
    line-height: 22px;
    font-family: Calibri;
    font-weight: 600;
    
}
*/
.chip{
    color:rgb(50, 10, 251);
    -webkit-text-stroke: 0.2px black;
}
.str{
    color:rgb(255, 0, 208);
    -webkit-text-stroke: 0.2px black;
}
.gpu{
    color:green;
    -webkit-text-stroke: 0.2px black;
}
.logo-ctn{
    border:1px solid grey;
    border-radius: 15px;
    margin:10px;
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glowing {
    from {
      box-shadow: 0 0 10px rgb(177, 171, 171), 0 0 10px rgb(197, 193, 193), 0 0 10px rgb(255, 0, 208), 0 0 10px rgb(255, 0, 208), 0 0 10px rgb(255, 0, 208), 0 0 10px rgb(255, 0, 208), 0 0 10px rgb(255, 0, 208);
    }
    to {
      box-shadow: 0 0 10px rgb(167, 162, 162), 0 0 10px rgba(70,36,144,1), 0 0 10px rgba(70,36,144,1), 0 0 10px rgba(70,36,144,1), 0 0 10px rgba(70,36,144,1), 0 0 10px rgba(70,36,144,1), 0 0 10px rgba(70,36,144,1);
    }
  }
img.apple{
    margin-top:5vh;
    position: relative;
    width:100px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 4vh;
}
.key{
    color:red;
    -webkit-text-stroke: 0.2px black;
}


/* footer start */
    .footer{
        margin-top:10vh;
        background-color: rgba(0, 0, 0, 0.489);
        width:100%;
        height:36vh;
    }
    
    .left-ctn-footer{
        float: left;
        margin:6vh 0vh 0vh 15vh;
        color:white;
        text-shadow: 2px 2px 2px var(--cmary);
    }
    .right-ctn-footer h1{
        color:white;
        text-shadow: 2px 2px 2px var(--primary);
    }
   .right-ctn-footer{
    float: right;
    margin:6vh 18vh 0 0 ;
   }
   form input{
    border:1px solid var(--primary);
    box-shadow: 2px 2px 2px var(--secondary);
    border-radius: 15px;
    height: 30px;
    display: block;
    margin:2vh 0 2vh 0vh;
    
   }
   form input::placeholder{
    text-align: center;
    font-family: 'Merriweather', serif;
    
   }
   
   form button{
    border-radius: 15px;
    height: 30px;
    width:178px;
    background-color: transparent;
    border:1px solid var(--secondary);
    color:white;
    text-shadow: 1px 1px 1px var(--primary);
    font-family: 'Merriweather', serif;
    box-shadow: 2px 2px 10px var(--primary);
   }

/* end footer */
